<div *ngIf="data" class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr *ngIf="data.length > 0">
        <th scope="col" *ngFor="let column of dataTable.column">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="data.length > 0">
        <tr *ngFor="let row of dataTable.dataRows" (click)="onRowClick(row)">
          <ng-container *ngFor="let columnProperty of dataTable.column">
            <td *ngIf="row[columnProperty].type === 'image'"><img [src]="row[columnProperty].data" height="40" /></td>
            <td *ngIf="row[columnProperty].type === 'text'">{{ row[columnProperty].data }}</td>
            <td *ngIf="row[columnProperty].type === 'date'">{{ row[columnProperty].data | date: dataFormat }}</td>
            <td *ngIf="row[columnProperty].type === 'link'">
              <a [href]="row[columnProperty].data" target="_blank">{{ row[columnProperty].data }}</a>
            </td>
          </ng-container>
        </tr>
      </ng-container>
      <tr *ngIf="data.length === 0">
        <td colspan="dataTable.column.length" style="text-align: center">{{ emptyMessage }}</td>
      </tr>
    </tbody>
  </table>
</div>
